# Dependencies
node_modules/

# Database
*.db
*.sqlite
*.sqlite3
server/db/*.db
server/db/data/*.json

# Logs
*.log
npm-debug.log*

# Environment variables
.env
.env.local

# OS files
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp
*.swo

# Old files
*_old.html
*_backup.*
